.eps-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.settings-container {
  display: flex;
  flex-direction: row;
}

.settings-components {
  flex: 1;
  padding: 20px;
}

.settings-menu {
  width: 20%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.settings-menu ul > li {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.settings-menu > h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.settings-menu ul {
  list-style-type: none;
  padding: 0px;
}
